:root {
  --backgroundColor-ligthMode: #fff;
  --primary-yellow: #f7ca18;
  --black-or-White: #000;
  --grey: #595959;
  --brown: #413906;
  --secondBlack: #212429;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--backgroundColor-ligthMode);
  margin: 0 20px 0 30px;
}
h1,
h2 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  color: var(--black-or-White);
}
h1 {
  font-size: 5.6rem;
  line-height: 7.1rem;
}
h2 {
  font-size: 3.8rem;
  line-height: 4.8rem;
}
p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--secondBlack);
}
button a {
  text-decoration: none;
}
.button_general {
  padding: 18px 0;
  text-align: center;
  width: 200px;
}
.button_figma {
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  outline: none;
  border: none;
  padding: 18px 24px;
  background: var(--primary-yellow);
  color: #000;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
.button_figma figure,
.button_figma figure img {
  height: 24px;
  margin-right: 8px;
}
