:root {
  --backgroundColor-ligthMode: #fff;
  --primary-yellow: #f7ca18;
  --black-or-White: #000;
  --black-or-Whiteb: #000;
  --grey: #595959;
  --brown: #413906;
  --secondBlack: #212429;
  --second-grey: #9fa5b6;
  --backgroundColor-hero: #f5f6f8;
  --grey-Black: #41424e;
  --copy: #595959;
}
html {
  font-size: 62.5%;
}

.header_nav {
  display: flex;
  width: auto;
}
.header_back {
  width: 42px;
  height: 42px;
  background-color: var(--grey-Black);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: var(--backgroundColor-hero);
  border-radius: 8px;
  padding: 32px;
}
.hero figure {
  align-self: flex-start;
}
.hero h1 {
  font-size: 1.8rem;
  line-height: 22.97px;
  text-align: center;
  padding: 32px 0 8px 0;
}
.hero_description {
  text-align: center;
  margin-bottom: 16px;
}
.hero-container {
  background: var(--backgroundColor-ligthMode);
  border-radius: 8px;
  margin: 10px 0;
  padding: 16px;
}
.hero-container h2 {
  font-weight: bold;
  font-size: 1.8rem;
}
.hero_type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-container p {
  font-size: 1.6rem;
}
.hero_next,
.hero_back {
  cursor: pointer;
}
.back {
  color: var(--black-or-Whiteb);
}
.hero_next {
  width: 100%;
  text-align: center;
  justify-content: center;
}
.hero_back {
  background: transparent;
}
.copy {
  margin: 41px 0 30px 0;
  font-size: 1.8rem;
  text-align: center;
  color: var(--copy);
}
.hero_header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #595959;
  align-items: center;
}
.button_figma-register {
  width: 100%;
  font-size: 1.4rem;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: space-between;
}
.hero_input {
  outline: none;
  border: none;
  background: #ffffff;
  padding: 18px 36px;
  border-radius: 4px;
  margin-bottom: 16px;
}
.hero_input::placeholder {
  color: #413906;
  font-size: 1.6rem;
}
.hero2,
.hero3 {
  display: none;
}
.guides {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.send_form .button_figma {
  width: 100%;
  align-items: center;
  justify-content: center;
}
@media (min-width: 375px) {
  .button_figma-register {
    font-size: 1.8rem;
    justify-content: center;
  }
}
@media (min-width: 480px) {
  .button_figma {
    max-width: 210px;
  }
  .button_figma-register {
    max-width: 320px;
  }
}
@media (min-width: 600px) {
  .hero_plans {
    display: flex;
  }
  .hero_plans .hero-container {
    margin: 0 10px;
  }
  .send_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .send_form input {
    margin-bottom: 0;
    margin: 0 8px;
  }
}
@media (min-width: 768px) {
  .hero_plans .hero-container {
    width: 208px;
  }
  .hero {
    padding: 50px;
  }
  .guides {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 24px;
  }
  .hero_input {
    width: 250px;
  }
}
@media (min-width: 1024px) {
  body {
    margin: 40px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header {
    width: 100%;
  }
  .hero {
    width: 580px;
  }
}
