:root {
  --backgroundColor-ligthMode: #fff;
  --primary-yellow: #f7ca18;
  --black-or-White: #000;
  --grey: #595959;
  --brown: #413906;
  --secondBlack: #212429;
  --second-grey: #717581;
  --learnMore: #000;
  --testimonials: #f5f6f8;
  --testimonials-description: #505459;
}

.hero {
  width: 100%;
  height: auto;
}
.hero_img-container,
.hero_img-container img,
.colaboraciones_img-container,
.colaboraciones_img-container img {
  width: 100%;
}
.hero_title {
  margin: 50px 0 20px 0;
  font-size: 3rem;
  line-height: 4rem;
}
.hero .hero_title {
  text-align: center;
}
.hero .hero_title .hero_focus {
  border: 4px solid var(--primary-yellow);
  display: inline-block;
  padding: 5px;
  position: relative;
}
.hero_focus-cursor {
  display: block;
  position: absolute;
  background: url("../Assets/cursor.svg") no-repeat center center;
  height: 22px;
  width: 22px;
  background-size: cover;
  left: 100px;
  bottom: -20px;
  z-index: 2;
}
.hero_focus-border {
  width: 10px;
  height: 10px;
  border: solid 2px var(--primary-yellow);
  position: absolute;
  background: #fff;
}
.hero_focus-cursor1 {
  top: -5px;
  left: -6px;
}
.hero_focus-cursor2 {
  top: -5px;
  right: -6px;
}
.hero_focus-cursor3 {
  left: -6px;
  bottom: -6px;
}
.hero_focus-cursor4 {
  right: -6px;
  bottom: -6px;
}
.hero_p {
  margin-bottom: 25px;
}
main,
.colaboraciones_img-container {
  margin-bottom: 80px;
}
.colaboraciones_title {
  margin-bottom: 8px;
}
.colaboraciones_description {
  margin-bottom: 24px;
}
.colaboraciones_leerMas {
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: underline;
  color: var(--learnMore);
  line-height: 2.2rem;
  cursor: pointer;
  margin: 24px 0;
}
.ratings p {
  font-size: 2rem;
}
.rating_start .testimonial_description {
  margin-top: 8px;
}
.rating_start-bold {
  font-weight: bold;
  color: var(--black-or-White);
}
.ratings div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.ratings div .rating_start {
  margin-right: 10px;
}
.testimonial_ratings {
  display: flex;
  justify-content: space-between;
}
.testimonial_users {
  display: flex;
}
.testimonial_users figure {
  position: absolute;
}
.testimonial_calificacion-article {
  background-color: var(--testimonials);
  display: flex;
  align-items: center;
  border-radius: 10px;
  position: relative;
  height: 130px;
}
.testimonial_calificacion-descripcion,
.testimonial_clacificacion-nombre {
  font-size: 1.6rem;
  margin-left: 30px;
}
.testimonial_calificacion-descripcion {
  padding: 4px;
}
.testimonial_calificacion-descripcion {
  color: var(--testimonials-description);
}
.testimonial_calificacion-figure,
.testimonial_calificacion-figure img {
  width: 80px;
}
.testimonial_calificacion-figure {
  position: absolute;
  left: -40px;
}
.testimonial_clacificacion-nombre {
  margin-top: 5px;
}
.testimonial_clacificacion-nombre {
  color: var(--black-or-White);
}
.testimonial_users .testimonial_users-container1 {
  position: relative;
  z-index: 1;
  margin-right: 10px;
}
.testimonial_users-container2 {
  right: 45px;
  z-index: 2;
}
.testimonial_users-container3 {
  right: 60px;
  z-index: 3;
}
.testimonial_users-container4 {
  z-index: 4;
  right: 80px;
}
.testimonial_users-container5 {
  z-index: 5;
  right: 100px;
}
.testimonial_users-container6 {
  z-index: 6;
  right: 120px;
}
.testimonial_calificacion-article {
  margin: 30px 0 30px 60px;
}
.testiomonial_clacificacion-start,
.testiomonial_clacificacion-start img {
  width: 15px;
}
.testiomonial_clacificacion-start {
  display: flex;
  margin-left: 30px;
  height: 100%;
  margin-top: 1px;
}
.newsletter,
.footer,
.footer_social {
  background-color: var(--primary-yellow);
  margin: 0 -20px 0 -30px;
  padding: 0 20px 0 30px;
}
.newsletter_title {
  padding-top: 60px;
  color: #000;
}
.newsletter_description,
.footer_description {
  color: var(--brown);
}
.newsletter_input {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 18px 36px;
  width: 100%;
  margin-top: 5px;
  color: var(--brown);
  font-size: 1.4rem;
  margin-top: 16px;
}
.newsletter_input::placeholder {
  font-size: 1.4rem;
  color: var(--brown);
  font-family: "Source Sans Pro", sans-serif;
}
.newsletter_send {
  font-size: 1.4rem;
  background-color: var(--brown);
  border-radius: 5px;
  width: 100%;
  color: #fff;
  height: 45px;
  outline: none;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  margin-top: 5px;
  line-height: 2rem;
}
.newsletter figure,
.newsletter figure img {
  width: 100%;
  margin-top: 10px;
}
.pricing_cards {
  margin: 40px 36px;
}
.pricing_cards-title {
  font-weight: 600;
  color: var(--grey);
  font-size: 1.6rem;
}
.pricing_cards-price {
  font-size: 5rem;
  color: var(--grey);
}
.pricing_cards-price span {
  font-size: 0.5em;
  color: var(--second-grey);
}
.pricing_cards p,
.pricing_cards_b p {
  margin: 8px 0 20px 0;
  line-height: 2rem;
}
.pricing_cards-beneficios,
.pricing_cards-beneficios_b {
  list-style: none;
}
.pricing_cards-beneficios li,
.pricing_cards-beneficios_b li {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: var(--grey);
  font-weight: 800;
  margin: 17px 0;
}
.pricing_cards-beneficios li::before,
.pricing_cards-beneficios_b li::before {
  content: url("../Assets/Checkmark.svg");
  margin-right: 17px;
  align-self: center;
  margin-top: 3px;
}
.pricing_cards-button {
  margin: 0 auto;
  width: 70%;
  height: 60px;
  background-color: var(--primary-yellow);
  color: #000;
  font-weight: bold;
  font-size: 1.8rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing_cards_b {
  padding: 36px;
  background-color: #434450;
  border-radius: 10px;
}
.pricing_cards-title_b {
  color: #c6c8cd;
  font-weight: 600;
  font-size: 1.6rem;
}
.pricing_cards-price_b {
  color: #c6c8cd;
  font-size: 5rem;
}
.pricing_cards-price_b span {
  font-size: 0.5em;
  color: #9fa5b6;
}
.pricing_cards_b p {
  color: #c6c8cd;
}
.pricing .pricing_cards-beneficios_b li {
  color: #c6c8cd;
}
.footer_documentacion {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer_documentacion-supported {
  font-family: "Inter", sans-serif;
  width: 50%;
  margin-top: 10px;
}
.footer_documentacion-supported h4 {
  font-size: 2rem;
  font-weight: 700;
}
.footer_documentacion-supported ul li {
  font-size: 1.6rem;
  line-height: 2rem;
  margin: 10px 0;
  color: var(--brown);
}
footer .footer_social {
  background-color: var(--brown);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
}
.footer_social p {
  color: var(--primary-yellow);
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}
.footer_social-containerimg {
  display: flex;
}
.footer_social-containerimg figure {
  margin: 0 5px;
}
